@import "/src/res/colors.scss";

.mainContainer {
    width: 90%;
    height: 160px;
    background-color: $table_row_expand_bg_color;
    border-radius: 10px;
    margin-top: 0.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.rightContainer {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 70%;
}
.leftContainer {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rowContainer {
    width: 100%;
    height: calc(100% / 5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.row_leftContainer {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $table_row_expand_datilsRpwSeperator_color;
    position: relative;
}
.row_detailsText {
    font-size: 0.7rem;
    margin-right: 10px;
    text-align: right;
    white-space: nowrap;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin-left: 15px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

  .row_detailsText::-webkit-scrollbar {
      display: none;
  }
.rowContainer:last-child .row_leftContainer::before {
    content: "";
    background-image: -webkit-linear-gradient(right,rgba(52,73,94,0),$table_row_expand_bg_color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    border-radius: 10px;
}
.row_rightContainer {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.row_detailsTitleText {
    font-size: 0.75rem;
}